@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.art{
  background: radial-gradient(circle at right center, rgb(111 228 86 / 14%) 10%, rgb(3 3 3 / 14%) 30%, rgb(144 144 144 / 0%) 70%, rgb(0 0 0) 100%);
}

.rumble {
  background: radial-gradient(
    circle at left center,
    rgb(229 13 13 / 14%) 10%,
    rgb(3 3 3 / 14%) 30%,
    rgb(144 144 144 / 0%) 70%,
    rgb(0 0 0) 100%
  );
}

.side_gradient {
  background: radial-gradient(
    circle at right center,
    rgb(229 13 13 / 14%) 10%,
    rgb(3 3 3 / 14%) 30%,
    rgb(144 144 144 / 0%) 70%,
    rgb(0 0 0) 100%
  );
}

.roadmap_gradient {
  background: radial-gradient(
    circle at right center,
    rgb(13 158 229 / 15%) 10%,
    rgb(3 3 3 / 14%) 30%,
    rgb(144 144 144 / 0%) 70%,
    rgb(0 0 0) 100%
  );
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.animate-float {
  animation: float 4s ease-in-out infinite;
}

