@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.art{
  background: radial-gradient(circle at right center, rgb(111 228 86 / 14%) 10%, rgb(3 3 3 / 14%) 30%, rgb(144 144 144 / 0%) 70%, rgb(0 0 0) 100%);
}

.rumble {
  background: radial-gradient(
    circle at left center,
    rgb(229 13 13 / 14%) 10%,
    rgb(3 3 3 / 14%) 30%,
    rgb(144 144 144 / 0%) 70%,
    rgb(0 0 0) 100%
  );
}

.side_gradient {
  background: radial-gradient(
    circle at right center,
    rgb(229 13 13 / 14%) 10%,
    rgb(3 3 3 / 14%) 30%,
    rgb(144 144 144 / 0%) 70%,
    rgb(0 0 0) 100%
  );
}

.roadmap_gradient {
  background: radial-gradient(
    circle at right center,
    rgb(13 158 229 / 15%) 10%,
    rgb(3 3 3 / 14%) 30%,
    rgb(144 144 144 / 0%) 70%,
    rgb(0 0 0) 100%
  );
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.animate-float {
  animation: float 4s ease-in-out infinite;
}

.scroll-item {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.scroll-item.in-view {
  opacity: 1;
}

.scroll-item {
  height: 100px;
}

.scroll-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform;
}

.scroll-left {
  animation-name: scrollLeft;
}

.scroll-right {
  animation-name: scrollRight;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
